<!doctype html>
<html lang="en">
    <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Expense Tracker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/expenses.css" type="text/css">
    </head>
    <body onload="getData();verifyUser()">
        <script>
            function verifyUser() {
                if(!localStorage.getItem("token")) {
                    window.location.href="/login"
                }
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <section style="position: relative; padding: 0px 0px 50px; background-color: #181823; /* For browsers that do not support gradients */;">
            <nav style="position: relative; background-color: black; position: fixed; display: flex; height: 50px; justify-content: flex-start; align-items: flex-start; width: 100%;">
                <a style="color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;" href="/">About</a>
                <div style="color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;">Home</div>
                <a style="color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;" href="/analytics">Analytics</a>
                <a style="position: absolute; right: 0px; color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;" href="/login">Logout</a>
            </nav>
            <h1 style="margin: 0px auto 40px; padding-top: 60px; width: 300px; text-align: center; color: #E9E8E8;">Expense Tracker</h1>
            <div style="width: 400px; margin: 0px auto; padding: 20px 50px 20px; background-color: #537FE7; border-radius: 10px;">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <form id="inputForm" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <!-- <input style="width: 300px; height: 50px; border-radius: 3px; margin: 10px; padding: 10px; outline: none; border: 1px solid gray;" /> -->
                        <div style="font-size: 20px;width: 300px; text-align: left; color: #FFFFFF;">Type of Expenses</div>
                        <select id="typeOfExpense" name="typeOfExpense" required style="width: 300px; height: 50px; border-radius: 3px; margin: 5px 0px 10px; padding: 10px; outline: none; border: 1px solid gray;">
                            <option value="Rent">Rent</option>
                            <option value="Utilities">Utilities</option>
                            <option value="Groceries">Groceries</option>
                            <option value="EMIs">EMIs</option>
                            <option value="Medical">Medical</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Personal">Personal</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment </option>
                        </select>
                        <div style="font-size: 20px;width: 300px; text-align: left; color: #FFFFFF;">Select month</div>
                        <select id="month" name="month" required style="width: 300px; height: 50px; border-radius: 3px; margin: 5px 0px 10px; padding: 10px; outline: none; border: 1px solid gray;">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                        <div style="font-size: 20px;width: 300px; text-align: left; color: #FFFFFF;">Expense amount</div>
                        <input id="expense" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" name="expense" required  placeholder="Expense amount" style="width: 300px; height: 50px; border-radius: 3px; margin: 5px 0px 10px; padding: 10px; outline: none; border: 1px solid gray;" />
                        <button onclick="addExpense()" style="background-color: #18122B; width: 150px; height: 50px; color: #FFFFFF; display: flex; justify-content: center; align-items: center; border: none; outline: none; border-radius: 4px; margin-top: 20px;">Add Data</button>
                    </form>
                </div>
            </div>
        </section>
        <div style="padding: 0px 0px 50px; background-color: #181823;">
            <div style="margin: 0px auto; padding: 30px 0px; text-align: center;">
                <!-- <h1>Monthwise Data</h1> -->
                <h1 style="margin: 0px auto 40px; padding-top: 0px; width: 300px; text-align: center; color: #E9E8E8;">Monthwise Data</h1>
            </div>
            <div style="margin: 20px auto; display: flex; justify-content: center; align-items: center;">
                <select onchange="filterByMonth()" id="filterMonth" name="filterMonth" style="width: 300px; height: 50px; border-radius: 3px; margin: 5px 0px 10px; padding: 10px; outline: none; border: 1px solid gray;">
                    <option value="" disabled selected>Select month to filter</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>    
            </div>
            <div>
                <table class="table-container" id="table-container">
                    <script>
                        let data = []
                        function handleResponse(response) {
                            data = response.data
                            var error = document.getElementById("errorMessage");
                            if(data.length === 0) {
                                error.innerHTML = "No Data available"
                                document.getElementById("table-container").innerHTML = ""
                            }
                            else {
                                createTable(data)
                            }
                        }
                        async function callApi(apiUrl, reqType, body) {
                            let token = localStorage.getItem("token")
                            if(reqType === "GET") {
                                axios.get(apiUrl, { headers: {                             
                                        'Content-Type': 'application/json',
                                        Authorization: token 
                                    } 
                                })
                                .then(response => {
                                    handleResponse(response)
                                })
                                .catch((error) => {
                                    console.log('error ' + error);
                                });
                            }
                            else {
                                axios.post(apiUrl, body, { headers: {                             
                                        'Content-Type': 'application/json',
                                        Authorization: token 
                                    }
                                })
                                .then(response => {
                                    handleResponse(response)
                                })
                                .catch((error) => {
                                    console.log('error ' + error);
                                });
                            }
                        }
                        async function getData(){
                            const data = await callApi('https://expense-tracker-backend-6gsr.onrender.com/users/expenses', "GET")
                        }
                        async function addExpense() {
                            let typeOfExpense = document.getElementById("typeOfExpense").value
                            let month = document.getElementById("month").value
                            let expense = document.getElementById("expense").value
                            if(typeOfExpense && month && expense) {
                                let newData= {
                                    typeOfExpense: typeOfExpense,
                                    month: month,
                                    expense: expense
                                }
                                data.push(newData)
                                // var form = document.getElementById("inputForm");
                                // form.reset();
                                const scrollingElement = (document.scrollingElement || document.body);
                                scrollingElement.scrollTop = scrollingElement.scrollHeight;
                                typeOfExpense.value = ""
                                callApi('https://expense-tracker-backend-6gsr.onrender.com/users/add-expenses', "POST", newData)
                            }
                        }
                        function filterByMonth() {
                            let filterMonth = document.getElementById("filterMonth").value
                            let newData=data.filter(item => item.month === filterMonth)
                            var form = document.getElementById("inputForm");
                            form.reset();
                            var error = document.getElementById("errorMessage");
                            if(newData.length === 0) {
                                error.innerHTML = "No Data available"
                                document.getElementById("table-container").innerHTML = ""
                            }
                            else {
                                var error = document.getElementById("errorMessage");
                                error.innerHTML = ""
                                createTable(newData)
                            }
                        }
                        function createTable(data) {
                            let rows = `
                                    <tr class="header-row">
                                        <th class="single-header">#</th>
                                        <th class="single-header">Type of Expense</th>
                                        <th class="single-header">Month</th>
                                        <th class="single-header">Expense Amount</th>
                                    </tr>`
                                for (var i = 0; i <data.length; i++) {
                                    rows+= `<tr class="data-row">
                                        <td class="single-data">${i+1}</td>
                                        <td class="single-data">${data[i].typeOfExpense}</td>
                                        <td class="single-data">${data[i].month}</td>
                                        <td class="single-data">${data[i].expense}</td>
                                    </tr>`;
                                }
                                document.getElementById("table-container").innerHTML = rows
                        }
                    </script>
                </table>
                <div style="margin: 0px auto; padding: 30px 0px; text-align: center;">
                    <!-- <h1>Monthwise Data</h1> -->
                    <h4 id="errorMessage" style="margin: 0px auto 40px; padding-top: 0px; width: 300px; text-align: center; color: #E9E8E8;"></h4>
                </div>
            </div>
        </div>
    </body>
</html>
