<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Frontend</title>
   
    <link href="css/expenses.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
   
</head>
<body>
    <div class="center">
        <section style="position: relative; padding: 0px 0px 50px; background-color: #181823; /* For browsers that do not support gradients */;">
            <nav style="position: relative; background-color: black; position: fixed; display: flex; height: 50px; justify-content: flex-start; align-items: flex-start; width: 100%;">
                <div style="color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;">About</div>
                <a style="color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;" href="/home">Home</a>
                <a style="color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;" href="/analytics">Analytics</a>
                <a style="position: absolute; right: 0px; color: #E9E8E8; width: 10%; height: 100%; justify-content: center; align-items: center; display: flex; text-decoration: none;" href="/login">Logout</a>
            </nav>
        </section>
        <div>
             <h1 align ="center">About</h1>
        </div>
        <div style="width: 1200px; margin: 30px auto; font-size: 16px;" class="text">
            <h2>  Expense Tracker</h2>
                Expense tracking is important in creating a budget for your small business. Keeping a daily record of your expenses by tracking receipts, invoices, and other outgoing expenses improves the financial health of your budget. Tracking expenses can help you stay on top of your cash flow and prepare you for tax season.
            <br/> 
            <br/> 
            <h2> Key Takeaways</h2>
            <ul>
                <li>Expense tracking helps you take control of your finances and stay on budget</li>
                <li>You can organize your expenses into categories like fixed, periodic, and variable spending </li>
                <li>It’s helpful to regularly review your expense tracking on a per-project or time-frame system</li>
                <li> Creating a budget and tracking your expenses are key to spending in a way that grows your business</li>
                <li>Accounting software like an expense tracker app makes it easy to manage your expenses as you go</li>
            </ul>
            <br/>
            <h2>What Is Expense Tracking?</h2>
             Expense tracking means recording all your expenditures so you have a clear and detailed understanding of your budget. 
             This is typically done for a certain project or over a certain period, so you can stay on budget and make any necessary adjustments. <br/>
              For many small businesses, expense tracking may include fixed expenses like rent and utilities as well as fluctuating costs like labor, product orders, and advertising. 
             It’s especially important to record one-time and variable costs, as these aren’t always accounted for in the initial budget.
        </div>
    </div>
</body>
</html>